body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

nav {
  background: #b11226;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

header {
  background: black;
  color: white;
  text-align: center;
  padding: 40px;
}

section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td, th {
  border: 1px solid #ccc;
  padding: 10px;
}
